# Ignorar node_modules dos dois lados
frontend/ERP-Gerencial/node_modules/
backend/node_modules/

# Ignorar dist (builds)
frontend/ERP-Gerencial/dist/
backend/dist/

# Variáveis de ambiente
frontend/ERP-Gerencial/.env
backend/.env

# Sistema
.DS_Store

# Logs
*.log
